@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --font-color: gray;
  --bottom-rule: rgb(182, 182, 182);
  --font-size: 1.3em;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  opacity: 0.3;
}

hr {
  height: 2px;
  width: 100%;
  color: var(--bottom-rule);
  background-color: var(--bottom-rule);
  margin-bottom: 20px;
}

body {
  background-color: rgba(175, 175, 175, 0.2);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

main {
  background-color: #fff;
  width: 90%;
  max-width: 898px;
  margin: 60px auto;
  padding: 20px 0;
  padding-bottom: 0;
  -webkit-box-shadow: 2px 9px 25px -4px rgba(0, 0, 0, 0.77);
  box-shadow: 2px 9px 25px -4px rgba(0, 0, 0, 0.77);
  overflow-x: hidden;
}

main li {
  list-style-type: none;
}

.header__todo h1 {
  font-size: var(--font-size);
}

.todo__list__header {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.reload {
  margin-right: 6px;
  opacity: 0.45;
}

.reload:hover {
  cursor: pointer;
}

.header__todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  color: var(--font-color);
}

.header__todo img {
  width: 40px;
  height: 40px;
}

.add__list {
  border: none;
  padding: 20px 0 30px 0;
  font-size: var(--font-size);
  font-style: italic;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.return {
  margin-right: 13px;
}

.add__list:focus {
  outline: none;
}

.todo__list {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--bottom-rule);
}

.todo__list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 10px 0;
  margin: 0 auto;
  z-index: 4;
}

.todo__list li::before {
  content: '';
  width: calc(120% + 40px);
  height: 2px;
  background-color: var(--bottom-rule);
  position: absolute;
  top: 0;
  left: -10%;
}

.color::after {
  content: '';
  width: 140%;
  position: absolute;
  top: 0;
  left: -10%;
  bottom: 0;
  background-color: rgba(255, 213, 107, 0.7);
  z-index: 1;
}

.check {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
  z-index: 10;
}

.check p {
  font-size: 1.1em;
  opacity: 0.8;
}

.three__dots {
  background-image: url('./assets/moreDots.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  margin-top: 12px;
  margin-right: -7px;
  z-index: 10;
}

.trash {
  background-image: url('./assets/trash.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  opacity: 0.3;
  margin-top: 12px;
  margin-right: -7px;
  z-index: 10;
}

.three__dots:hover,
.trash:hover {
  cursor: move;
  opacity: 1;
}

.trash:hover {
  cursor: pointer;
}

.footer {
  background-color: rgb(245, 245, 245);
  height: 80px;
  color: var(--font-color);
  text-align: center;
}

.footer .h3 {
  font-size: 1.3em;
  letter-spacing: 1.5px;
  opacity: 0.8;
  padding: 20px 0;
  margin-top: 10px;
  text-align: center;
}

.clearMarked:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
  opacity: 1;
}

.strike {
  text-decoration: line-through;
}

.tagP {
  width: 180px;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}
